$gray0:#fcfcfc;
$gray1:#f1f1f1;
$gray2:#c4c4c4;
$gray3:#999;
$gray4:#666;
$gray5:#333;
$yellow1: #FED332;
$blue1: #1C4FA1;
.appLayout{
        background-color: #fff;
}
/*header*/
.headerContainer{
        width: 100%;
        // box-shadow: 0px 15px 30px rgba(242, 215, 190, 0.30);
        box-shadow: 0px 15px 30px rgba(82, 82, 82, 0.1);
        position: fixed;
        top:0;
        z-index: 10;
        .logoImage{
                width: 60px;
        }
}
.headerContainerM{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-bottom:1px solid #f1f1f1;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        /*box-shadow: 0px 15px 30px rgba(242, 215, 190, 0.30);*/
        // box-shadow: 0px 15px 30px rgba(254, 211, 50, 0.10);
        position: fixed;
        top:0;
        z-index: 10;
        .logoImage{
                width: 45px;
        }
}
/*content*/
.contentContainer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        min-height: calc(100vh - 60px);
        background-color: #fafafa;
}
/*footer*/
.footerContainer{
        width: 100%;
        height: 60px;
        background-color: $gray1;
        // position: relative;
}

/******************************page******************************/
/*home*/
.homeContainer{
        max-width: 500px;
        width: 100%;
        color: #444;
        .homeTop{
                font-weight: bold;
                height: 50vh;
                display: flex;
                flex-direction: column;
                justify-content:flex-end;
                align-items: center;
               
        }
        .homeBottom{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: calc(50vh - 60px);
                .homeBottomText{
                        margin-top: 10px;
                }
        }
}

/*service*/
.serviceContainer{
        width: 100%;
        color: #444;
        .serviceListWrap1{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 50px;
                border-bottom: 1px solid #f1f1f1;
                // background-color: #FFFDF8;
        }
        .serviceListWrap1M{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 50px;
                border-bottom: 1px solid #f1f1f1;
                // background-color: #FFFDF8;
        }
        .serviceListWrap2{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 10px;
                padding-bottom: 50px;
                border-bottom: 1px solid #f1f1f1;
                background-color: #FFFDF8;
        }
        .serviceTextContainer{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px;
        }
}
/*post*/
.boardContainer{
        max-width: 1000px;
        width: 100%;
        color: #444;
        .boardTop{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 50px;
        }
        .boardMiddle{
                display: flex;
                .supportContainer{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: flex-start;
                        width: 180px;
                        height: 200px;
                        box-shadow: 0px 0px 20px rgba(82, 82, 82, 0.3);
                        border-radius: 20px;
                        position: fixed;
                        padding: 10px;
                        background-color: #fff;
                        margin-top: 90px;
                        border:1px solid $gray2;
                        .ant-menu-item, .ant-menu-item-selected{
                                margin-bottom: 20px;
                        }
                }
                .collapseContainer{
                       margin-left: 200px; 
                       width: 100%;
                       max-width: 700px;
                       display: flex;
                       flex-direction: column;
                       align-items: flex-end;
                }
                .collapseContainerM{
                       width: 100%;
                       display: flex;
                       flex-direction: column;
                       align-items: flex-end;
                       padding:0 10px;
                        
                }
        }
}

/*form*/
.formContainer{
        max-width: 800px;
        width: 100%;
        color: #444;   
}

/******************************service component****************************/
/*tracking*/
.trackingContainer{
        display: flex;

}
.trackingContainerM{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
}

.tracklistContainer{
        display: flex;
        flex-direction: column;
        min-width: 300px;
        height: 500px;
        padding:10px 0px;
        border:1px solid $gray1;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 30px #c1c1c1;
        overflow-y: scroll;
        overflow-x: hidden;
}
.tracklistContainerM{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding:10px 0px;
        // border:1px solid $gray1;
        background-color: #fff;
        border-radius: 10px;
        // box-shadow: 0px 0px 30px #c1c1c1;
        margin-top:10px;
}
.topContainer{
        margin:0 auto;
}
.listContainer{
        // margin-top: 50px;
        width:100%;
        .listItemContainer{
                height: 70px;
                
                display: flex;
                .listItemLeft{
                        width:100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top:55px;
                }
                .listItemMiddle1{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        width:4px;
                        background-color: #ccc;
                        margin-right: 20px;
                }
                .listItemMiddle2{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        width:4px;
                        background-color: #7CC321;   
                        // box-shadow: 0px 0px 5px #a1d858 ;
                        margin-right: 20px;
                }
                .listItemMiddle3{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        width:4px;
                        background-color: #fff;   
                        margin-right: 20px;
                }
                .listItemMiddle4{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        width:4px;
                        background-color: #FEBF46;   
                        margin-right: 20px;
                }
                .listCircle1{
                        // width: 18px;
                        // height: 18px;
                        font-size: 22px;
                        color: #7CC321;
                        background-color: #fff;
                        border-radius: 20px;
                        margin-left: -9px;
                        position: relative;
                        z-index: 11;                }
                .listCircle2{
                        width: 28px;
                        height: 28px;
                        background-color: #fff;
                        border-radius: 20px;
                        box-shadow: 0px 0px 10px $blue1;
                        border:1px solid #7CC321;
                        position: relative;
                        top:5px;
                        left: -12px;
                        z-index: 11;
                }
                .listCircle3{
                        width: 18px;
                        height: 18px;
                        background-color: #ccc;
                        border-radius: 20px;
                        margin-left: -7px;
                }
                
                .listItemRight{
                        width: 100%;
                        height: 70px;
                        padding: 10px;
                        padding-left: 30px;
                        margin-top:30px;
                        border-bottom:1px solid #f1f1f1;
                }
        }
}
.mapContainer{
        width: 700px;
        height: 500px;
        border-radius: 10px;
        margin-left: 20px;
        overflow: scroll;
        box-shadow: 0px 0px 30px #c1c1c1;
        overflow:hidden

}
.mapContainerM{
        width: 100%;
        height: 300px;
        // border-radius: 10px;
        // margin-bottom: 20px;
        overflow: scroll;
        box-shadow: 0px 0px 10px #c1c1c1;
        overflow:hidden

}
/*alarm*/
.alarmContainer{
        width: 600px;
        .switchContainer{
               display: flex;

               justify-content: space-between;
               margin-top: 20px;
               margin-bottom: 30px;
               .switchWrap{
                       display: flex;
                       justify-content: space-between;
                       align-items: center;
                       width: 120px;
                       .ant-switch-checked{
                               background-color: $yellow1;
                       }
               }
        }
}
.alarmContainerM{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        width: 100%;
        .switchContainer{
                display: flex;
                height: 100px;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;
                margin-bottom: 30px;
                .switchWrap{
                       display: flex;
                       justify-content: space-between;
                       align-items: center;
                       width: 120px;
                       .ant-switch-checked{
                               background-color: $yellow1;
                       }
               }
        }
}

/*********************************other component**************************************/
.loginModalContainer{
        display: flex;
        // width: 400px;
        flex-direction: column;
        align-items: stretch;

}
.loginContainer{
        display: flex;
        .inputContainer{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 70px;

        }
        .loginButton{
                width:70px;
                background-color: $blue1;
                color:#fff;
                border:none;
                margin-left: 5px;
        }
}
.modalCheckViewContainer{
        overflow: hidden;

        .modalCheckViewMiddle{
                margin-top: 20px;
                padding-left: 30px;
        }
}
.modalTop{
        display: flex;
        align-items: center;
        margin-bottom: -10px;
}
.blueCircle{
        width: 15px;
        height: 15px;
        border-radius: 20px;
        background-color: $blue1;
        margin-right: 5px;
        float: left;
}
/******************************common******************************/
*:focus {
        outline: none;
}
a{
        text-decoration-line:none;
        color: #444;
        &:hover{
                color: #1890ff !important;
        }
}
a:visited{
        color: inherit;
}

.size100{
        font-size: 100px;
        font-weight: 400;
}
.size50{
        font-size: 50px;
}
.size40{
        font-size: 40px;
}
.size30{
        font-size: 30px;
}
.size18{
        font-size: 18px;
}
.size16{
        font-size: 16px;
}
.size14{
        font-size: 14px;
}
.yellow1{
        color:$yellow1
}
.blue1{
        color:$blue1
}
.white1{
        color:#fff;
}
.gray1{
        color:#888;
}
.bold{
        font-weight: bold;
}
.searchInputContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        .searchInput{
                border-radius: 30px;
                width: 95%;
                height: 45px;
                border:1px solid $gray2;
                box-shadow: 2px 2px 3px $gray2;
                padding-left: 20px;
        }
        .searchInputButton{
                font-size: 18px;
                color: $blue1;
                width: 40px;
                height: 40px;
                border-radius: 30px;
                margin-left: -43px;
                background-color: #fff;
                border: 0px;
        }
}
.searchBoard{
        width:250px;

}

/* width */
::-webkit-scrollbar {
        width: 5px;
}
      
/* Track */
::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
        background: #ffe999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
        background: #555;
}
.nudeButton{
        background-color: rgba(255,255,255,0);
        cursor: pointer;
        outline: none;
        border: none;
        &:hover{
                color: #1890ff;
        }
}
.ant-modal-footer{
        display: none;
}
.dummy{
        height: 45px;
}

/*board*/
.renderHeader{
        width: 100%;

}
.headerTop{
        display: flex;
        align-items: center;
}
.headerMiddle{
        width: 95%;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        margin-left: 35px;

}
.indexNumber{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        background-color: #fff;
        border: 1px solid $gray2;
        width: 20px;
        height: 20px;
        font-size: 14px;
        margin-right: 10px;
}
.renderHeaderM{
        width: 100%;
        display: flex;
        flex-direction: column;
        .renderHeaderSubM{
                width: 95%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 32px;
        }

}
.ant-collapse{
        // border-radius:20px;
        border:none;
        color:#444;
        background-color: #fafafa;
}
.ant-collapse-content-box{
        padding:30px !important;
}
.ant-collapse-item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 70px;
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
        border: 1px solid $gray1 !important;
        background-color: #fff;
        border-radius: 20px;
        

}
.ant-collapse-header {
        min-height: 70px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // margin-bottom: 10px;
        .anticon {
                position: absolute;
                right:0px;
        }
}
.ant-collapse-content{
        width: 100%;
}
.ellipsis{
        width: 80%;
        text-overflow: ellipsis ;
        white-space  : nowrap;
        overflow: hidden;
}
.ellipsisM{
        width: 80%;
        text-overflow: ellipsis !important;
        white-space  : nowrap;
        overflow: hidden;
}
.rdw-image-modal-upload-option-label{
        overflow: hidden;
        margin:10px;
}

.ant-btn-primary{
        background-color: $blue1;
        border-color: #ccc;
}
.ant-btn-primary:hover,.ant-btn-primary:focus {
        background-color: #2265D1;

}
.rdw-editor-main{
        min-height: 100px;
}

